@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap");
@import url(./Colors.css);

html {
  font-size: 16px;
  font-weight: bold;
  font-family: "Space Grotesk", sans-serif;
}

body {
  background-color: var(--background);
}

.appContain {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.App {
  max-width: 1000px;
  max-height: 1000px;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: var(--background);
  text-align: center;
}

.logo {
  width: 200px;
  color: var(--light-1);
  text-align: left;
  word-break: break-all;
  font-size: 6.25rem;
  letter-spacing: 0.2rem;
  line-height: 84px;
  padding: 1rem 1rem;
}
