@import url(./Colors.css);

html {
  font-size: 16px;
}

.App {
  position: relative;
  height: 100vh;
  background-color: var(--background);
  text-align: center;
}

.logo {
  width: 40vw;
  color: var(--light-1);
  line-height: 5rem;
  text-align: left;
  word-break: break-all;
  font-size: 6.25rem;
}
