@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap");
@import url(./Colors.css);

html {
  font-size: 16px;
  font-weight: bold;
  font-family: "Space Grotesk", sans-serif;
}

.App {
  position: relative;
  height: 100vh;
  background-color: var(--background);
  text-align: center;
}

.logo {
  width: 40vw;
  color: var(--light-1);
  text-align: left;
  word-break: break-all;
  font-size: 6.25rem;
  letter-spacing: 0.2rem;
  line-height: 5.5rem;
  padding: 1rem 1rem;
}
