@import url(./Colors.css);

.pastGuessContain {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 0rem;
  right: 0rem;
  text-align: center;
  margin: 1rem 0;
}

.pastGuess {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--dark-1);
  font-size: 3rem;
  font-weight: bold;
}
